body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.container {
    margin-top: 20px;
    padding: 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: #fff;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.card-body {
    padding: 20px;
}

form .form-label {
    font-weight: bold;
    color: #000000;
}

form .form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 1rem;
}

form .btn {
    background-color: #ffc400;
    
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form .btn:hover {
    background-color: #ffc400;
    color: #fff;
}

#searchInput {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow: hidden;
}

.table th, .table td {
    padding: 15px;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

.table thead {
    background-color: #000000;
    color: #ffc400;
    text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #e8f8ff;
}


@media (max-width: 768px) {
    .card-body {
        padding: 15px;
    }

    .table th, .table td {
        font-size: 0.85rem;
    }

    .btn {
        font-size: 0.9rem;
    }
}


/* CSS */
.button-82-pushable {
  margin-top: 10px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
    
  display: block;
  position: relative;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 12px;
  font-size: 0.8rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 0.8rem;
    padding: 8px 22px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

/* --------------------------------------------- */

.button-custom-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-custom-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-custom-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(140deg 100% 16%) 0%,
      hsl(140deg 100% 32%) 8%,
      hsl(140deg 100% 32%) 92%,
      hsl(140deg 100% 16%) 100%
    );
  }
  
  .button-custom-front {
    width:80px;
    display: block;
    position: relative;
    padding: 6px 10px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 0.8rem;
    color: white;
    background: hsl(145deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-custom-front {
      font-size: 0.8rem;
      padding: 8px 22px;
    }
  }
  
  .button-custom-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-custom-pushable:hover .button-custom-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-custom-pushable:active .button-custom-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-custom-pushable:hover .button-custom-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-custom-pushable:active .button-custom-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-custom-pushable:focus:not(:focus-visible) {
    outline: none;
  }