
body {
    color: #e9ecef;
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
h1 {
    color: #ffffff; 
}
h2 {
    color: #ffc400; 
    margin-bottom: 20px; 
}
.cart{
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 50px;
    background-color: #000000;
    border: 1px solid #161515;
}
.table-responsive {
    overflow-x: auto;
}
.table {
    border-radius: 0.5rem; 
    overflow: hidden; 
}
.table th {
    background-color: #161313d1; 
    color: white; 
}
.table tbody tr:hover {
    background-color: #e9ecef;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}
